*               text=auto eof=lf

Makefile        text
.gitattributes  text
.gitignore      text
*.md            text diff=markdown

*.tex	        text diff=tex
*.sty	        text diff=tex
*.bib	        text diff=bibtex

src/content/*/** linguist-vendored=true
