environ
etoolbox
filehook

biblatex
caption
currfile
datatool
enumitem
float
fontawesome5
hyphenat
lipsum
lastpage
makecell
minted
microtype
multirow
parskip
polyglossia
pgf
setspace
tcolorbox
xcolor
xurl

biber
xetex
latexmk
chktex
lacheck
synctex
latexindent
texlogfilter
